body{
    background-color:darkblue;
}

#tausta{
    background-color: white;
    margin-left: 90px;
    margin-right: 90px;
    margin-top: 90px;
    margin-bottom: 90px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 50px;
    padding-left: 100px;
    padding-right: 100px;
}

a:hover {
    color:blue;
}
